# Environment variables
PORT=3001
NODE_ENV=development

# Firebase configuration
API_KEY=xyz-key
AUTH_DOMAIN=xyz.firebaseapp.com
PROJECT_ID=xyz
STORAGE_BUCKET=xyz.firebasestorage.app
MESSAGING_SENDER_ID=1234567890
APP_ID=1:1234567890:web:abcdef123456
MEASUREMENT_ID=G-ABCDEFG123

# Database (if you plan to add one later)
# DATABASE_URL=your_database_url_here

# API Keys (if needed)
# API_KEY=your_api_key_here

#MCPASS Configs
MCPAAS_API_KEY=sk_test_1234567890abcdef
MCPAAS_APP_ID=1abcdef123456

BASE_URL=functions-dev.mcpweb.org
COMPLEX_ID = 1234567890abcdef
